# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    mode_operatoire_path: 'F:\\Division-Informatique\Direction\7 - Suivi Exploitation\Modes opératoires Exploitation'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            #- '../src/Entity/'
            - '../src/Kernel.php'

    # Configuration spécifique pour le panel admin
    #App\Service\AdminDataService:
    #    arguments:
    #        $entityManager: '@doctrine.orm.entity_manager'

    # Configuration pour les contrôleurs
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    # Configuration pour les repositories
    App\Repository\:
        resource: '../src/Repository/'
        tags: ['doctrine.repository_service']

    # Configuration pour les fixtures
    #App\DataFixtures\:
    #    resource: '../src/DataFixtures/'
    #    tags: ['doctrine.fixture.orm']

    # Résolveur de connexion selon l'environnement choisi en session (bouton admin)
    App\Service\DatabaseConnectionResolver:
        arguments:
            $prodConnection: '@doctrine.dbal.prod_connection'
            $preprodConnection: '@doctrine.dbal.preprod_connection'
            $testConnection: '@doctrine.dbal.test_connection'

    # Configuration pour le service EditionBureautiqueOracleService
    App\Service\EditionBureautiqueOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    # Configuration pour le service EngagementOracleService
    App\Service\EngagementOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    # Configuration pour le service AccessControlOracleService
    App\Service\AccessControlOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    # Configuration pour le service LogementOracleService
    App\Service\LogementOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    # Configuration pour le service SystemOracleService
    App\Service\SystemOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    # Configuration pour le service ReouvExemptesOracleService
    App\Service\ReouvExemptesOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    # Configuration pour le service UserActionLogger
    App\Service\UserActionLogger:
        arguments:
            $userActionsLogger: '@monolog.logger.user_actions'
            $systemEventsLogger: '@monolog.logger.system_events'

    # Configuration pour le service LogViewerService
    App\Service\LogViewerService:
        arguments:
            $kernelLogsDir: '%kernel.logs_dir%'

    # Log des accès/CRUD des routes admin_*
    App\EventListener\UserActionRequestListener: ~

    # Configuration pour le service DetailedUserActionLogger
    App\Service\DetailedUserActionLogger:
        arguments:
            $userActionsLogger: '@monolog.logger.user_actions'

    # Configuration pour le service ImportODOracleService
    App\Service\ImportODOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    # Configuration pour le service ListeAffectationOracleService
    App\Service\ListeAffectationOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    # Configuration pour le service ImportODService
    App\Service\ImportODService:
        arguments:
            $requestStack: '@request_stack'
            $projectDir: '%kernel.project_dir%'
            $oracleService: '@App\Service\ImportODOracleService'

    # Service INSEE (connexion selon environnement session)
    App\Service\InseeOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    # Service Intitulés CB (connexion selon environnement session)
    App\Service\IntitulesCBOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    App\Service\BiFieldDescriptionService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    # Plans d'office (connexion selon environnement session)
    App\Service\PlansOfficeOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    App\Service\UtilisateurOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    App\Service\MotDePasseOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    App\Service\ExtractionOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    App\Service\BeckrelOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    App\Service\SowellOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    App\Service\PropositionOracleService:
        arguments:
            $connectionResolver: '@App\Service\DatabaseConnectionResolver'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
